*{
    margin: 0;
    padding:0;
}
.nav_style{
    width: 1250px;
}

nav li{
list-style: none;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 22px;
font-weight: 750;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

/* Button area style */
button:hover{
    background: aqua;
   transition: 0.5s;
}
nav button{
width: 100px;
height: 45px;
gap: 49;
padding: 10px 20px 10px 20px;
margin: 0px 10px;
overflow: hidden;
border: 1px solid #006a50;
border-radius: 8px ;

}
nav button span{
    color:#006a50 ;
    font-size: 18px;
}



.parent{

    /* Frame 4 */
position: static;
width: 1080px;
height: 410px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 644;
padding: 60px 80px 60px 80px;
border-radius: 24px;
background: rgb(198, 228, 214);
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
}
.content_area p {
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
text-align: left;
margin: 16px;
margin: 16px 0px;
}


.content_area h3 {
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 50px;
font-weight: 600;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
margin: 16px 0px;

padding: 0px;

}
.content_area button{
position: static;
width: 270px;
height: 56px;
padding: 10px 25px 10px 25px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
background: rgb(0, 106, 80);
margin: 24px 0px;
border: none;
}
.content_area button:hover{
    background: rebeccapurple;
}
/* image area style */

.image_area{
width: 474.03px;
height: 329.21px;
left: 157.37%;
right: -157.37%;
top: 20%;
bottom: -2.3%;
}

/*  parent2 style */

.parent2{
    display: flex;
    max-width: 1080px;
}





.main_div h1{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 35px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
gap: 32;
padding: 0px;
margin: 16px 0px 20px 0px;
width: 100%;
}

.child{
 width: 276px;
 height: 195px;
gap:10;
padding: 24px;
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 45px 0px 0px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);

}

.child img{
width: 49.66px;
height: 53.09px;
left: 13.34px;
top: 1px;
}
.child h4 {
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.child p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
gap: 12;
margin: 12px 0px;
}


/* parent3 style area */

.parent3{
    display: flex;
    /* width: 1080px; */
    margin: 80px 10px 0px 0px;
    justify-content: space-between;
    
}
.extra h2{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin: 40px 0px 20px 0px;
}
.extra p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
}
.content_area3{
position: static;
width: 150px;
height: 300px;
padding: 15px;
box-sizing: border-box;
border-radius: 16px;
/* background: rgba(84, 144, 245, 0.2); */
order: 1;
overflow: hidden;
flex-grow: 1;
margin: 0 20px 0px 0px;
/* justify-content: space-between; */
}
.content_area3 h4{
width: 346.67px;
height: 24px;
gap: 12;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}



.content_area img {
width: 49.66px;
height: 53.09px;
left: 13.34px;
top: 1px;
}



.content_area3 p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
}
.parent3 button{
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
padding: 11px 20px 11px 20px;
border-radius: 8px;
border: none;
margin: 24px 0px;
gap: 48;
}


.challenge {
position: static;
height: 256px;
align-items: flex-start;
gap: 24;
padding: 48px 24px 48px 24px;
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin: 80px 0px;
}
.challenge P{
box-sizing: border-box;
border-radius: 16px;
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.challenge h3 {
align-self: stretch;
flex-grow: 0;
margin: 4px 0px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.challenge span{
flex-grow: 0;
margin: 4px 0px;
color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.challenge{
    position: relative;
}
.challenge img{
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0.5;
}



/* Recent News */


.main_Recent2{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
align-content: center;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
border-radius: 24px;
background: rgb(255, 255, 255);
}




.main_Recent p{
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.image_style{
padding: 48px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}
.image_style img {
position: static;
width: 408px;
height: 306px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 32px;
border-radius: 24px;
background: url(image);
float: left;
}
.content_style {
    float: right;
}
.content_style h2 {
    align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
}
.content_style img {
position: static;
width: 134px;
height: 40px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;

background: url(8f195aac6f4a2c38bbf72c1fbeddbf9b);
}
.content_style time{
    margin: 0px 12px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.content_style h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 37px;
    font-weight:600;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 10px;
}
.content_style p {
 margin: 0px 12px ;   
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.content_style2 button{
    padding: 13px 26px 13px 26px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
flex-grow: 0;
margin: 32px 0px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
}

/*  */
.main_Recent3{
 display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
align-content: center;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
border-radius: 24px;
background: rgb(255, 255, 255);
}
.image_style2{
padding: 48px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.content_style2 img{
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
}
.content_style2 time{
    margin: 0px 12px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.content_style2 p {
    margin: 0px 12px ;   
   color: rgba(14, 14, 14, 0.7);
   font-family: Fira Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0%;
   text-align: left;
   }
   .content_style2 h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 37px;
    font-weight:600;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 10px;
}
.content_style button{
    padding: 13px 26px 13px 26px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
flex-grow: 0;
margin: 32px 0px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
}
.image_style2 img {
    position: static;
    width: 408px;
    height: 306px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 24px;
    background: url(image);
    float: left;
    }
    .Donate_class h5{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
    }
  .Donate_class p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 18px auto 15px auto;

    }
.last_parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24;
}
.last_div{
    width: 240px;
    height: 128px;
    padding: 40px;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
}
input{
width: 90%;
height: 35px;
margin: 32px 0px;
box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
border: none;
}
input::placeholder{
    color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
height: 100vh;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.last_button{
 display: flex;
 justify-content: center;
 align-items: center;
}
.last_button button{
margin: 32px 0px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;

border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);


}